:root {
    --primary-color: #9E1B32;
    --secondary-color: #0d0c1d;
    --tertiary-color: #ffffff;
    --accent-color: #ffffff;
    --text-color: #000000;
    --background-color: #828a8f9d;
    --border-color: #9E1B32;
    --user-text-color: #0d0c1d;
    --user-bubble-color: #ffffff;
    --ai-bubble-color: #9E1B32;
    --ai-text-color: #ffffff;
    --button-color: var(--primary-color);
}


body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

footer {
    margin-top: auto;
}

.carebot-header {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0px;
    font-size: xx-large;
    width: 100%;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 10000;
}

.carebot-header a {
    position: absolute;
    margin: 0 20px;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.carebot-header a.left {
    left: 0px;

}

.carebot-header a.right {
    right: 0px;

}

.carebot-header h1 {
    margin: 0;
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: larger;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.caregiver-connect {
    color: white;
    position: absolute;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.5);
}

.carebot-header a:hover {
    color: #242729;
}

/*from .popup to @webFrame FadeIn is styling for the popup message used to alert users on why we use their location
 /* Popup container - can be anything you want */
 /* .popup {
    position: relative;
    height: 7%;
    width: 18%;
    display: inline-block;
    cursor: pointer;
    font-size: larger;
    user-select: none;
    border-radius: 20px;
    margin-top: 7%;
    margin-left: 10%;
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
  }

  .popup:hover {
      background-color: #6bc1f0;
  }

  /* .popup::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    margin-bottom: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* The actual popup 
  .popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 12%;
    font-size: larger;
    /* margin-left: 10%; 
  }
  
  /* Popup arrow
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup 
  .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) 
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  } */


.carebot-footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0px;
    min-width: 100vw;
    text-align: center;
    font-size: 12pt;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.5);
    position: fixed; 
    bottom: 0; 
    left: 0; 
}

.carebot-footer a {
    color: white;
    text-decoration: none;
}

.carebot-footer a:hover {
    color: #242729;
}

/* Chat page styles */
#chatbot-container {
    height: 100vh;
    width: 100vw; 
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#chatbot-container header {
    margin-top: 8vh;
    z-index: 0;

}

#chat-messages {
    padding: 2vw;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: large;
}

.user-message {
    align-self: flex-end;
    background-color: var(--user-bubble-color);
    color: var(--user-text-color);
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 4%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(255, 255, 255, 0.2);
}

.ai-message {
    align-self: flex-start;
    background-color: var(--ai-bubble-color);
    color: var(--ai-text-color);
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 15px;
    margin-left: 4%;
    margin-right: 10%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(255, 255, 255, 0.2);
}

.system-message {
    align-self: center;
    align-items: center;
    background-color: var(--border-color);
    color: var(--ai-text-color);
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 15px;
}

textarea {
    height: 50px;
    resize: none;
    overflow-y: auto;
}

.form-group {
    bottom: 0px;
    display: flex;
    padding: 20px;
    background-color: var(--primary-color);
    /* border-top: 1px solid #ccc; */
    box-shadow: 0px 3px 20px 5px rgba(0, 0, 0, 0.5);
}

textarea.form-control {
    height: 35px;
    max-height: 15vh;
    width: 95%; 
    text-align: left;
    font-size: x-large;
    resize: none;   /* Disable manual resizing */
    overflow-y: scroll; /* Enable vertical scrollbar when needed */
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
    margin-right: 10px;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    padding: calc(min(0.5vw, 10px));
}

.btn-send {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--user-bubble-color);
    color: var(--user-text-color);
    font-size: x-large;
    cursor: pointer;
    margin-left: 10px;
}

.btn-send:hover {
    /* background-color: var(--border-color); */
    background-color: var(--background-color);
    color: black;
}

.btn-send.suggested-message {
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 20px;
}

/* first and last messages need distance from screen edge */
.btn-send.suggested-message:first-child {
    margin-left: 20px;
}

.btn-send.suggested-message:last-child {
    margin-right: 20px;
}

.suggested-messages {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    min-height: 55px;
    padding-bottom: 5px;
    padding-top: 0px;
}

/* Generic button styles */
.link-button {
    padding: 10px 20px;
    min-width: 250px;
    text-align: center;
    margin: 0px 5px;
    border-radius: 10px;
    background-color: var(--button-color);
    color: white;
    font-size: x-large;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(255, 255, 255, 0.2);
}

.link-button:hover {
    background-color: var(--primary-color);
    transform: scale(1.15);
}

/* Homepage styles */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    background-color: #ffffff;
    overflow: hidden;
    padding-top: 8vh;
    padding-bottom: 8vh;
}

.home-container p {
    color: var(--text-color);
    /* margin: 15px; */
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18pt;
    text-align: center;
    padding-bottom: 1px;
}

.home-container h1 {
    text-align: center;
    font-size: xx-large;
}

/* Lays out buttons in a 2x2 or 1 column based on screen width */
.adjusting-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (min-width: 725px) {
    .adjusting-grid {
      grid-template-columns: repeat(2, 1fr); /* Creates a 2x2 grid */
    }
  }

.spacer {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20px;
}

/* Just a section that separates some stuff */
#section {
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

/* Message loading dots */
.dot {
    display: inline-block;
    width: 15px; 
    height: 15px;
    border-radius: 50%; 
    background-color: var(--user-bubble-color);
    margin: 0 5px; 
}
  
/* Animation for the bouncing effect */
@keyframes bounce {
    0%, 100% {
        transform: translateY(6px);
        opacity: 0.8;
    }
    50% {
        transform: translateY(-6px); 
        opacity: 0.4;
    }
}
/* To hopefully work on safari and such */
@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(6px);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: translateY(-6px); 
        opacity: 0.4;
    }
}

.dot:nth-child(1), .dot:nth-child(2), .dot:nth-child(3) {
    animation: bounce 1.2s infinite;
    animation-fill-mode: both; /* Ensure smooth start and end */
}

.dot:nth-child(1) {
animation-delay: 0.2s;
}
  
.dot:nth-child(2) {
    animation-delay: 0.4s;
}
  
.dot:nth-child(3) {
    animation-delay: 0.6s;
}
  
.chat-bubble {
    position: relative;
    background-color: #f5f5f5;
    border-radius: 16px;
    padding: 10px 20px;
    color: #333;
    display: inline-block;
    max-width: 200px;
}
  
/* Cute 'lil picture */
.elderly-person-bubble::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #f5f5f5;
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}
  
.computer-bubble::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #f5f5f5;
    border-bottom: 0;
    margin-right: -15px;
    margin-bottom: -15px;
}

#owl-image {
    width: 250px;
    margin-top: 30px;
}

/* Testing stuff with box shadows */
.box {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 255, 255, 0.5);
}

.home-icon {
    filter: invert(100%) brightness(200%) contrast(200%);
    height: 40px;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 200px; 
}

#about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1px; 
}

#heatmap {
    height: 60vh;
    width: 80vw;
    margin: auto;
    margin-top: 100px; 
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}
@media (max-width: 600px) {
    #heatmap {
        margin-top: 150px; 
    }
}
#data-table {
    margin-top: 20px;
  }
  
  #resources-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #resources-table, #resources-table th, #resources-table td {
    border: 1px solid #ddd;
  }
  
  #resources-table th, #resources-table td {
    padding: 8px;
    text-align: left;
  }