:root {
    --color-1: #f1dac4;
    --color-2: #a69cac;
    --color-3: #474973;
    --color-4: #161b33;
    --color-5: #0d0c1d;
    --primary-color: var(--color-3);
    --secondary-color: var(--color-2);
    --tertiary-color: var(--color-1);
    --accent-color: var(--color-4);
    --text-color: var(--color-5);
    --background-color: #e8e9ea;
    --border-color: #ccc;
    --user-text-color: #fff;
    --user-bubble-color: var(--accent-color);
    --ai-bubble-color: var(--color-2);
    --ai-text-color: var(--color-5);
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-1);
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

footer {
    margin-top: auto;
}


.carebot-header {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    font-size: 30pt;
    width: 100%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.carebot-header a {
    position: absolute;
    margin: 0 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    color: white;
    text-decoration: none;
    align-content: left;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carebot-header h1 {
    margin: 0;
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 30pt;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.caregiver-connect {
    color: white;
    position: absolute;
    font-size: 16pt;
    margin: 0 200px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%); /*Center vertically*/
    text-align: right;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.5);
}

.caregiver-connect a {
    color: white;
    text-decoration: none;
}

.caregiver-connect a:hover {
    color: #6bc1f0
}



.carebot-footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    min-width: 100vw;
    text-align: center;
    font-size: 12pt;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.5);
    position: fixed; 
    bottom: 0; 
    left: 0; 
}
.carebot-footer a {
    color: white;
    text-decoration: none;
    
}

.carebot-footer a:hover {
    color: #6bc1f0;
}

/* Chat page styles */
#chatbot-container {
    height: 100vh; 
    width: 100vw; 
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#chat-messages {
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.user-message {
    align-self: flex-end;
    background-color: var(--user-bubble-color);
    color: var(--user-text-color);
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 15px;
    margin-right: 10%;
    margin-right: 4%;
}

.ai-message {
    align-self: flex-start;
    background-color: var(--ai-bubble-color);
    color: var(--ai-text-color);
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 15px;
    margin-left: 4%;
    margin-right: 10%;
}

.system-message {
    align-self: center;
    align-items: center;
    background-color: var(--border-color);
    color: var(--ai-text-color);
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 15px;
}

textarea {
    height: 50px;
    resize: none;
    overflow-y: auto;
}

.form-group {
    display: flex;
    padding: 20px;
    background-color: var(--primary-color);
    border-top: 1px solid #ccc;
}

.form-group input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    border: 2px solid var(--border-color);
    border-radius: 200px;
    padding: 10px;
}

textarea.form-control {
    height: 35px; /* Set initial height */
    width: 95%; 
    text-align: left;
    font-size: x-large;
    resize: none;   /* Disable manual resizing */
    overflow-y: hidden; /* Enable vertical scrollbar when needed */
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
    margin-right: 10px;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    padding: calc(min(0.5vw, 10px));
}

.btn-send {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.btn-send:hover {
    /* background-color: var(--border-color); */
    background-color: #6bc1f0;
    color: black;
}

.btn-send.suggested-message {
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

/* first and last messages need distance from screen edge */
.btn-send.suggested-message:first-child {
    margin-left: 32.5%;
}

.btn-send.suggested-message:last-child {
    margin-right: 20px;
}

/* Generic button styles */
.link-button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--text-color);
    text-decoration: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(255, 255, 255, 0.2);
}

.link-button {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
}

.link-button:hover {
    background-color: var(--primary-color);
    transform: scale(1.15);
}

/* Homepage styles */
#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    background-color: var(--color-1);
    overflow: hidden; 
    padding-bottom: 1px; 
}

.home-header {
    margin: 0;
    text-align: center;
    width: 100%;
    text-decoration: none;
    font-size: 18pt;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#home-container p {
    color: var(--text-color);
    margin: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18pt;
    text-align: center;
    padding-bottom: 1px; 
}

/* Just makes a thing for multiple buttons vertically */
#button-menu-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 15pt;
    margin: 10px
}

/* Just a section that separates some stuff */
#section {
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

/* Message loading dots */
.dot {
    display: inline-block;
    width: 15px; 
    height: 15px;
    border-radius: 50%; 
    background-color: var(--user-bubble-color);
    margin: 0 5px; 
}
  
/* Animation for the bouncing effect */
@keyframes bounce {
    0%, 100% {
        transform: translateY(6px);
        opacity: 0.8;
    }
    50% {
        transform: translateY(-6px); 
        opacity: 0.4;
    }
}
/* To hopefully work on safari and such */
@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(6px);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: translateY(-6px); 
        opacity: 0.4;
    }
}

.dot:nth-child(1), .dot:nth-child(2), .dot:nth-child(3) {
    animation: bounce 1.2s infinite;
    animation-fill-mode: both; /* Ensure smooth start and end */
}

.dot:nth-child(1) {
animation-delay: 0.2s;
}
  
.dot:nth-child(2) {
    animation-delay: 0.4s;
}
  
.dot:nth-child(3) {
    animation-delay: 0.6s;
}
  
.chat-bubble {
    position: relative;
    background-color: #f5f5f5;
    border-radius: 16px;
    padding: 10px 20px;
    color: #333;
    display: inline-block;
    max-width: 200px;
}
  
/* Cute 'lil picture */
.elderly-person-bubble::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #f5f5f5;
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}
  
.computer-bubble::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #f5f5f5;
    border-bottom: 0;
    margin-right: -15px;
    margin-bottom: -15px;
}

#elderly-person-image {
    width: 300px; /* adjust as necessary */
    margin: 10px;
}

/* Testing stuff with box shadows */
.box {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 255, 255, 0.5);
}

.home-icon {
    filter: invert(100%) brightness(200%) contrast(200%);
    height: 40px;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 200px; 
}

#about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1px; 
}