<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        {% include "chat/header.html" %}
    </header>
    <div id="home-container">
        <div class="home-header">
            <h1>Our Team</h1>
        </div>
    </div>
    <div id="about-me-container">
        <div class="team-member">
            <img src="{% static 'chat/scott.jpg' %}" width="200" height="200" alt="Placeholder">
            <h3>Scott Ratchford</h3>
            <p>I am a computer science student at the University of Alabama. My interests are in software development and 3D printing. I have over 8 years of 3D printing experience, including over 2 years of professional experience.

                I am skilled in Python, C, and C++ programming languages. In my free time, I learn new programming languages and practice my software development skills.</p>
        </div>
        <div class="team-member">
            <img src="{% static 'chat/kittson_short.jpg' %}" width="200" height="200" alt="Placeholder">
            <h3>Kittson Hamill</h3>
            <p>I am a computer science student at the University of Alabama. My interests are in software development and data analysis. I have experience through classes, research, and my job.

                I am skilled in Python and C++ programming languages. In my free time, I like to craft things.</p>
       
        </div>
        <div class="team-member">
            <img src="{% static 'chat/jake.jpg' %}" width="200" height="200" alt="Placeholder">
            <h3>Jake Schaefers</h3>
            <p>I am a computer science student at the University of Alabama. My interests are in software development and engineering. I have experience through classes and my job.

                I am skilled in Python and C++ programming languages. In my free time, I study for Yessick.</p>
       
        </div>
        <div class="team-member">
            <img src="{% static 'chat/q.png' %}" width="200" height="200" alt="Placeholder">
            <h3>Quillen Flanigan</h3>
            <p>I am a computer science student at the University of Alabama. My interests are in reverse engineering and software. I have experience through classes and am a student under the scholarship for service.

                I am skilled in Python and C++ programming languages. In my free time, I play with my dog.</p>
       
        </div>
    </div>
    <style>
        .home-container {
            padding-bottom: 0px;
        }
    </style>
</body>

</html>
