<!DOCTYPE html>
<html>
<head>
    <title>About Carebot</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        {% include "chat/header.html" %}
    </header>
    <div id="home-container">
        <div class="home-header">
            <h1>About Carebot</h1>
        </div>
        <div id="button-menu-col">
            <a href="{% url 'about-us' %}" 
                class="link-button">About the Carebot Team</a>
            <a href="{% url 'deliverables' %}" 
                class="link-button">Carebot Team Deliverables</a>
        </div>
    </div>
</body>
</html>
