<!DOCTYPE html>
<html>
<head>
    <title>Chat with Carebot</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <div id="chatbot-container">
        {% include "chat/header.html" %}
        <div id="chat-messages">
            {% for message in chat_history %}
                {% if message.message_type == 0 %}
                <div class="user-message">
                    <p>{{ message.text }}</p>
                </div>
                {% endif %}
                {% if message.message_type == 1 %}
                <div class="ai-message">
                    <p>{{ message.text }}</p>
                </div>
                {% endif %}
                {% if message.message_type == 2 %}
                <div class="system-message">
                    <p>{{ message.text }}</p>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id="suggested-messages">
            <button id="suggested_1" type="button" class="btn-send suggested-message" value="Help me find counseling services in my area.">Help me find counseling services in my area.</button>
            <button id="suggested_2" type="button" class="btn-send suggested-message" value="Help me find food banks in my area.">Help me find food banks in my area.</button>
        </div>
        <form method="post" id="chat-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.query }}
                <label>
                   <!-- <input type="checkbox" name="is_sql" id="is_sql"> This is an SQL query -->
                </label>
                <button id="send-button" type="submit" onclick="hideSuggestedMessages()" class="btn-send">Send</button>
            </div>
        </form>
        <div id="loading" style="display: none;">
            <p><span class="dot"></span><span class="dot"></span><span class="dot"></span></p>
        </div>
    </div>
    <script src="{% static 'chat/chat.js' %}"></script>
    <script>
        function getUserLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getLatLong, userError)
            }
            
        }

        function getLatLong(user_position) {
            var user_latitude = user_position.coords.latitude;
            var user_longitude = user_position.coords.longitude;
            alert("Lat: " + user_latitude + " Long: " + user_longitude);
            sendUserLocation(user_latitude, user_longitude);
        }

        function userError(e) {
            switch(e.code) {
                case e.PERMISSION_DENIED:
                    alert("Permission Denied");
                    break;
                case e.POSITION_UNAVAILABLE:
                    alert("User Location Unavailable");
                    break;
                default:
                    alert("Unknown error");
                    break;
            }
        }

        function hideSuggestedMessages() {
            suggested_1.style.display = "none";
            suggested_2.style.display = "none";
        }

        function sendSuggestedMessage(button) {
            const text = button.value;
            const form = document.getElementById("user-query");
            form.value = text;
            document.getElementById("send-button").click()
            form.value='';
            // const input = form.querySelector("input[name='query']");
            // input.value = text;
            //messages disappear after clicking first one
            hideSuggestedMessages();
        }

        var suggested_1 = document.getElementById("suggested_1");
        suggested_1.addEventListener('click', function() {
            sendSuggestedMessage(suggested_1);
        });
        suggested_1.addEventListener("keydown", function (key) {
            if (key.code === "Enter") {
                hideSuggestedMessages();
            }
        });
        var suggested_2 = document.getElementById("suggested_2");
        suggested_2.addEventListener('click', function() {
            sendSuggestedMessage(suggested_2);
        });
        suggested_2.addEventListener("keydown", function (key) {
            if (key.code === "Enter") {
                hideSuggestedMessages();
            }
        });
        window.addEventListener('beforeunload', function (e) {
            const csrfToken = getCsrfToken();
            const data = new FormData();
            data.append('csrfmiddlewaretoken', csrfToken);

            // Asynchronously clear the session
            navigator.sendBeacon('/clear-session/', data);
            return  // Do not alert the user about leaving the page
        });
        const chat_box = document.getElementById("chat-form");
        chat_box.autocomplete = "off";
        //text box expands when user input reaches end of line
        user_query_box = document.getElementById("user-query");
        user_query_box.addEventListener('input', function() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        })
        user_query_box.addEventListener("keydown", function (key) {
            if (key.code === "Enter") {
                key.preventDefault();
                document.getElementById("send-button").click();
                user_query_box.value='';
                
            }
        });
        window.onload = function() {
            getUserLocation();
        }

    </script>
</body>
</html>
