<!DOCTYPE html>
<html>
<head>
    <title>Carebot Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="home-container">
        <header>
            {% include "chat/header.html" %}
        </header>
        <div class="home-header">
            <h1>Dashboard</h1>
        </div>
        <p>This page is under construction.</p>
    </div>
</body>
</html>
