<!DOCTYPE html>
<html>
<head>
    <title>Deliverables</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        {% include "chat/header.html" %}
    </header>
    <div id="home-container">
        <div class="home-header">
            <h1>Deliverables</h1>
        </div>
        
        <div id="section">
            <h2>Sprint Presentations</h2>
            <div id="button-menu-col">
                <a href="https://bama365-my.sharepoint.com/:p:/g/personal/saratchford_crimson_ua_edu/Ed14yWWt_eVHjO6gZCZXqIIBjrm5n85ulL9wHSrGHa_edw?e=Woc5oW"
                    class="link-button">Sprint 1 Presentation</a>
                <a href="https://bama365-my.sharepoint.com/:p:/g/personal/saratchford_crimson_ua_edu/EQxV0UcoKttPufU4hX0bGikBCiCE45nnI8z0-FZltnT0DQ?e=nARRTe"
                    class="link-button">Sprint 2 Presentation</a>
                <a href=""
                    class="link-button">Sprint 3 Presentation</a>
            </div>
        </div>

        <div id="section">
            <h2>Source Code</h2>
            <div id="button-menu-col">
                <a href="https://github.com/KyberCritter/carebot"
                    class="link-button">GitHub Repository</a>
            </div>
        </div>

    </div>
</body>
</html>
