<!DOCTYPE html>
<html>
<head>
    <title>Deliverables</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
</head>
{% include "chat/header.html" %}
<body>
    <div id="home-container">
        <h1>Deliverables</h1>
        <h2>Sprint Presentations</h2>
        <a href="https://bama365-my.sharepoint.com/:p:/g/personal/saratchford_crimson_ua_edu/Ed14yWWt_eVHjO6gZCZXqIIBM25-ycaYrfJASqXHWfybMA?e=uw8fvy"
            class="link-button">Sprint 1 Presentation</a>
        <p></p>
        <h2>Source Code</h2>
        <a href="https://github.com/KyberCritter/carebot"
            class="link-button">GitHub Repository</a>
    </div>
</body>
</html>
