<!DOCTYPE html>
<html>
<head>
    <title>Carebot Documentation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        {% include "chat/header.html" %}
    </header>
    <div id="home-container">
        <div class="home-header">
            <h1>Documentation</h1>
        </div>
        <p>This page is under construction.</p>

        <div id="section">
            <h2>Source Code</h2>
            <div id="button-menu-col">
                <a href="{% url 'faq' %}" class="link-button">Frequently Asked Questions</a>
                <a href="{% url 'installation' %}" class="link-button">How to Install</a>
                <a href="{% url 'technical documentation' %}" class="link-button">Technical Documentation</a>
                <a href="{% url 'modification' %}" class="link-button">How to Modify and Extend</a>
            </div>
        </div>
    </div>
</body>
</html>