<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        {% include "chat/header.html" %}
    </header>
    <div class="home-container">
        <!-- Do not display the specific error to the user. -->
        <a href="{% url 'home' %}" class="link-button">An error has occured. Click here to go to the homepage.</a>
    </div>
</body>
</html>
