<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'chat/styles.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'chat/owl_png.png' %}">
</head>
<div class="carebot-header">
    <a class="left" href="{% url 'home' %}">
        <img src="{% static 'chat/home_icon.png' %}" alt="Home Icon" class="home-icon">
    </a>
    <h1>Carebot</h1>
    <a class="right" href="https://caregiverconnect.ua.edu/chatbot-home.html">
        <img src="{% static 'chat/caregiver_connect_icon.svg' %}" alt="Caregiver Connect Icon" class="home-icon">
    </a>
</div>
</html>
