{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Carebot Homepage</title>
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
    {% include "chat/header.html" %}
</header>
<body>
    <div class="home-container">
        <img src="{% static 'chat/owl_png.png' %}" alt="Owl using computer" id="owl-image">
        <p>Carebot is a chatbot powered by ChatGPT v3.5 that helps connect Alabama residents to healthcare resources. 
            Using a database of healthcare providers, the services they offer, their locations, and the users' location, the chatbot can connect the user to a healthcare service provider near them. Carebot asks the user for any information it needs to help them out, and it focuses conversations on finding medical resources in Alabama. Click the "Chat with Carebot" button to find help healthcare services near you!
        </p>
        <div class="adjusting-grid">
            <a href="{% url 'chat' %}" class="link-button">Chat with Carebot</a>
            <a href="{% url 'about-us' %}" class="link-button">About the Team</a>
            <a href="{% url 'dashboard' %}" class="link-button">See What Others Are Asking</a>
            <a href="{% url 'deliverables' %}" class="link-button">Project Deliverables</a>
        </div>
    </div>
</body>
<footer>
    {% include "chat/footer.html" %}
</footer>
</html>

