<!DOCTYPE html>
<html>
<head>
    <title>Carebot Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
</head>
{% include "chat/header.html" %}
<body>
    <div id="home-container">
        <div class="home-header">
            <h1>Carebot</h1>
        </div>
        <img src="{% static 'chat/elderly_person_image.png' %}" alt="Elderly person using computer" id="elderly-person-image">
        <p>Carebot is a chatbot that helps connect Alabama residents to healthcare resources in their area. Ask Carebot for helping finding healthcare today!</p>
        <a href="{% url 'chat' %}" class="link-button">Chat with Carebot</a>
        <a href="{% url 'dashboard' %}" class="link-button">See what others are asking about</a>
        <a href="{% url 'about-carebot' %}" class="link-button">About Carebot</a>
    </div>
</body>
</html>

